h1
{
	color: red;
	font-style: oblique;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-variant-caps: all-petite-caps;
}
h2
{
	
	color: orange;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
	color: forestgreen;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
	color: darkkhaki;
	
}

p {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

body
{
	background-color:teal;
	margin: 2cm;
}
img {
	max-width: 95%;
}

.navbar {
	overflow: hidden;
	background-color: white;
}

.navbar a {
	float: none;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background-color: black;
	color: wheat;
}

.navbar a.active {
	background-color: rgb(39, 39, 39);
	color: silver;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: x-large;
	text-transform: uppercase;
}


#carte
{
		width:800px;
		margin:0 auto;
		background-color: white;
		text-align: center; 
}