h1
{
	color: red;
	font-weight: bolder;
	font-style: oblique;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-variant-caps: all-petite-caps;
	font-size: 12mm;
	margin: 1cm;
}
h2
{
	margin: 1cm;
	color: darkslateblue;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
	color: forestgreen;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 1cm;
}

h4 {
	color: saddlebrown;
	margin: 1cm;
}

p {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	margin: 1cm;
	border: 1px;
	border-style: solid;
	border-color: black;
	padding: 1em;
}

body
{
	background-color:teal;
	margin: 2cm;
}
img {
	max-width: 95%;
}

.footer {
	background: dimgray;
    padding: 10px 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
	color: maroon;
}

.navbar {
	overflow: hidden;
	background-color: rgb(39, 39, 39);
}

.navbar a {
	float: none;
	display: block;
	color: silver;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: x-large;
	text-transform: uppercase;
}

.navbar a:hover {
	background-color: black;
	color: wheat;
}

.navbar a.active {
	background-color: rgb(39, 39, 39);
	color: silver;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: x-large;
	text-transform: uppercase;
}

.cdlink {
	color: silver;
	text-align: right;
}

.logo {
	border-radius: 40%;
	max-width: 30%;
	width: auto;
}

.text {
	color: maroon;
	font-size: large;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-transform: uppercase;
}

.sources {
	text-align: center;

}
.sources a {
	float: none;
	display: block;
	color: peru;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: x-large;
	text-transform: uppercase;
}

.sources a:hover {
	background-color: dimgrey;
	color: lightgrey;
}
.plan {
	text-align: center;

}
.plan a {
	float: none;
	display: block;
	color: cornflowerblue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: x-large;
	text-transform: uppercase;
}

.plan a:hover {
	background-color: lightgrey;
	color: dimgray;
}

.synopsis {
	line-height: 150%;
	font-size: 4mm;
}

.h3 {
	color: peru;
}

.text {
	margin: 5mm;
}

#carte
{
		width:800px;
		margin:0 auto;
		background-color: beige;
		text-align: center; 
}